
body{
 background-color: aliceblue;
}
.navbar-right {
  float: left!important;
  margin-right: -15px;
}
.Mcontainer {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.responsive-iframe {
  background-color: white;
  border-radius: 22px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

aside {
  position: absolute;
  right: 0;
  color: #fff;
  width: 250px;
  padding-left: 20px;
  background-image: linear-gradient(30deg ,#5c6fde, #4456bf );
  border-top-left-radius: 80px;
  min-height: 100%;
  max-height: 100%;
}

aside a {
  display: inline-block;
  font-size: 18px;
  color: #fff;
  display: block;
  padding: 12px;
  padding-right: 40px;
  -webkit-tap-highlight-color:transparent;
}

aside a:hover {
  text-decoration: none;
  color: #4457C0;
  background: #fff;
  outline: none;
  position: relative;
  background-color: #fff;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

aside a i {
  margin-right: 5px;
}

aside a:hover::after {
  content: "";
  position: absolute;
  background-color: transparent;
  bottom: 100%;
  right: 0;
  height: 35px;
  width: 35px;
  border-bottom-right-radius: 18px;
  box-shadow: 0 20px 0 0 #fff;
}

aside a:hover::before {
  content: "";
  position: absolute;
  background-color: transparent;
  top: 38px;
  right: 0;
  height: 35px;
  width: 35px;
  border-top-right-radius: 18px;
  box-shadow: 0 -20px 0 0 #fff;
}

aside p {
  margin: 0;
  padding: 40px 0;
}

.social {
  height: 0;  
}

.social i:before {
  width: 14px;
  height: 14px;
  font-size: 14px;
  position: fixed;
  color: #fff;
  background: #0077B5;
  padding: 10px;
  border-radius: 50%;
  top:5px;
  right:5px;
}
.list{

  color: black;
  font-size: 22px;
  list-style: none;
}
.list li{
  padding-bottom: 20px;
}
.list li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: rgb(8, 0, 255); /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-right: -1em; /* Also needed for space (tweak if needed) */
}
.accordion .container.active .content {
  height: 117px;
}
.accordion .content {
  position: relative;
  background: white;
  height: 0;
  font-size: 24px;
  text-align: justify;
  width: 100%;
  overflow: hidden;
  transition: 0.5s;
  text-overflow: ellipsis;
  padding-top: 10px;
}

/**/
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid white;
  background-color: #6c7ee3;
  color: #fff;
}

th, td {
  font-weight: lighter;
  text-align: right;
  padding: 16px;
  border: 1px solid rgb(196, 195, 195);
}


.navbar-header {
  float: right;
}
.navbar-header img{
  margin-left: 4px;
}
/**/
.dropbtn {
  border: 2px solid rgb(109, 109, 109);
  display: inline-flex;
  background-color: rgb(255, 255, 255);
  padding: 6px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  margin: 1px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}


/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content span {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #fff;
border:1px solid rgb(196, 195, 195);
}